/**
 * 覆蓋quasar預設變數（顏色為主）
 * 注意：勿更改或刪除變數名稱，僅更改值
 * https://quasar-framework.org/components/stylus-variables.html
 */
$primary   = #19A863
$secondary   = #19A863

/**
 * 自訂default版顏色
 */
$toolbar1 = #519D20
$toolbar2 = #73CC3A

/* 导航渐层色 */
$color1 = #8FE05C
$color2 = #8FE05C
$color3 = #73cc3a
$color4 = #73CC3A

$primary-bright = #8AD958
$primary-middle = #7CD543
$primary-strong = #5FBD22
$primary-pale = rgba($primary, 0.1)

$money = #5AB91D
$notice = #FF8147

/**
 * 共用圖片路徑
 */
$styleFolder = $path + 'statics/default/default004/'
$styleUrl(v)
    url($styleFolder + (v))