// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the common.variables.styl file
@import 'common.variables'

/* 全模版覆蓋quasar預設變數 */
@import '../../statics/css/var.styl'
/* 各模版覆蓋quasar預設變數（顏色為主） */
@import '../../statics/path.styl'

// Material only Quasar variables overwrites
// -----------------------------------------
