
/**
 * page bet-record
 * 个人中心-投注记录
 */
.bet-record
  .account-manage-info
    &__item--strong
      .account-manage-label
      .account-manage-label + span
        color $warning
  .account-manage-label
    color $tertiary
    + span
      color #E4393C


/**
 * page
 * 优惠活动
 */
.activity-item
  background none
  &__wrap
    padding 15px 0
    &.detail
      border 1px solid #D8D8D8
      padding-top 0