/**
 * 覆蓋quasar預設變數（顏色為主）
 * 注意：勿更改或刪除變數名稱，僅更改值
 * https://quasar-framework.org/components/stylus-variables.html
 */
$primary   = #C02728
$secondary = #C02728

/**
 * 自訂default版顏色
 */
$toolbar1 = #A01F20
$toolbar2 = #E32C2D


$primary-bright = #E30900
$primary-middle = #BE0819
$primary-strong = #8B0219
$primary-pale = rgba($primary, 0.1)

$money = #f5a623
$notice = #FFEC00


/* 导航渐层色 */
$color1 = #ff9d9d
$color2 = #ff6161
$color3 = #f83434
$color4 = #860000

/**
 * 共用圖片路徑
 */
$styleFolder = $path + 'statics/default/default001/'
$styleUrl(v)
    url($styleFolder + (v))