/**
 * 覆蓋quasar預設變數（顏色為主）
 * 注意：勿更改或刪除變數名稱，僅更改值
 * https://quasar-framework.org/components/stylus-variables.html
 */
$primary   = #5B57DC
$secondary   = #5B57DC

/**
 * 自訂default版顏色
 */
$toolbar1 = #5854E7
$toolbar2 = #8B8BFF

/* 导航渐层色 */
$color1 = #8379FD
$color2 = #8379FD
$color3 = #5B57DC
$color4 = #5B57DC


$primary-bright = #9188FE
$primary-middle = #7E6EFE
$primary-strong = #6E52F8
$primary-pale = rgba($primary, 0.1)

$money = #5552CF
$notice = #CC0109

/**
 * 共用圖片路徑
 */
$styleFolder = $path + 'statics/default/default007/'
$styleUrl(v)
    url($styleFolder + (v))