/**
 * 弹窗背景
 */
.modal
    .modal-content
        border-radius 6px
        padding 10px 0
        background-image $styleUrl('images/popup/top.png'), $styleUrl('images/popup/bottom.png'), $styleUrl('images/popup/center.png')
        background-size 100%
        background-repeat no-repeat, no-repeat, repeat-y
        background-clip border-box, border-box, content-box
        background-position center top, center bottom, center center
        background-color transparent
        box-shadow none
        overflow visible
    &__header
        height 67px
        padding $basicGap
        background $styleUrl('images/popup/title.png') no-repeat center center
        background-size auto 100%
        border-bottom none
        &-title
            color $secondary
            font-size 18px
            text-align center
            line-height 30px
            padding-right 0
    &__close
        position absolute
        padding 0
        background $styleUrl('images/popup/close.png')
        background-size 100% 100%
        color transparent
        top -5px
        right -5px
        width w = 40px
        height w
        .q-icon
            display none
    &__body
        padding 15px 30px
        max-height calc(80vh - 157px) // header+footer+padding
    &--lg
    // 平台公告
    &--lobbypop
    // 代理注册协议
    &--agent
        .modal-content
            background-image $styleUrl('images/popup/lg-top.png'), $styleUrl('images/popup/lg-bottom.png'), $styleUrl('images/popup/lg-center.png')
    // 提示讯息弹窗
    &--free
        .modal-content
            max-width 550px

/* 大厅-平台公告 */
.lobby-post
    .modal__body
        background-color transparent
