body
    color $tertiary
    background $styleUrl('images/bg.jpg')
    background-size 1920px auto
/**
 * 覆蓋quasar 預設样式
 */
.q-layout-header
.q-layout-footer
    background-color $white
    box-shadow none

// .q-table
//     color inherit
//     thead
//         border none
//         tr
//             height auto
//     th
//     td
//         border inherit
//         color inherit
//         font-size inherit
//         &.sorted
//             color $white
//     th
//         &.sortable
//             cursor default
//             &:hover
//                 color $white
// .q-table-container
//     box-shadow none
//     background-color $white
// .q-table-bottom
//     border-top none
//     font-size $text-xsm

// .q-popover
//     .q-list
//         padding 0
//     .q-item
//         padding 10px 15px
//         &:hover
//         // &.active
//             background-color $primary !important //有些下拉选单得这样盖
//             color $white !important //有些下拉选单得这样盖
//     button
//         width 100%
//         padding 10px
//         & + div
//             padding 10px

/**
 * 自订toolbar颜色设置（不可更改），如果要改色至var改 $toolbar 值
 */
.bg-toolbar
    background-color #935732
.text-toolbar
    color $tertiary