/**
 * 覆蓋quasar預設變數（顏色為主）
 * 注意：勿更改或刪除變數名稱，僅更改值
 * https://quasar-framework.org/components/stylus-variables.html
 */
$primary   = #E3AA59
$secondary = #42220D

$tertiary  = #4A4A4A

$positive  = #7ed321
$negative  = #922518
$info      = #31CCEC
$warning   = #F5A623

$white = #fff

$body-color = #000
$body-background = #fff

$modal-body-color = rgba(#000, 0.8)

/**
 * 自訂顏色
 */
// $toolbar1 = #A01F20
// $toolbar2 = #E32C2D

/* 导航渐层色 */
// $color1 = #FF6A6B
// $color2 = #FF3F43
// $color3 = #E4242E
// $color4 = #C00D16


$primary-bright = #54AFED
// $primary-middle = #BE0819
// $primary-strong = #8B0219
// $primary-pale = rgba($primary, 0.1)

// $money = #FF4949
// $notice = #FFEC00

$maintain = #E84335

/* 双面长龙 */
$dslong-1 = #7ED321
$dslong-2 = #FFB900
$dslong-3 = #50ACDE
$dslong-4 = #FF5617
$dslong-5 = #DC5C9F

/* 号球 */
$bead-round = $tertiary
$bead-round-active = #E65160
$bead-round-pastview = #F59800
$bead-red = #D0021B
$bead-blue = #0044D8
$bead-green = #417505
$bead-gray = $tertiary

/* 路珠 */
$road-big = #D0021B
$road-small = #1CB6F8
$road-mid = #76CD17

/* 间距 */
$basicGap = 15px
$smallGap = 10px

/**
 * 文字
 */
$text-xlg = 18px
$text-lg = 15px
$text-md = 13px
$text-sm = 12px
$text-xsm = 12px

/**
 * 共用圖片路徑
 */
$styleFolder = $path + 'statics/style/style901/'
$styleUrl(v)
    url($styleFolder + (v))