/**
 * icon-tool
 */
/* 導航icon */
.q-icon.icon-nav
    font-size 26px

/* 覆蓋 */
.fas
    &.fa-times-circle
        font-size 18px

/* 單色icon */
.icon-tool
    vertical-align middle

/* page icon */
.icon-page
    vertical-align middle

/* pay icon */
.icon-pay
    display inline-block
    width w = 30px
    height w
    border-radius 30px
    vertical-align middle
    margin-right $smallGap
    background $imgUrl('images/icon/icon-pay.png')
    background-size 100% 100%
    &-14 // 支付宝付款码
        background $imgUrl('images/icon/icon-pay-14.png')
        background-size 100% 100%
    &-13 // 微信付款码
        background $imgUrl('images/icon/icon-pay-13.png')
        background-size 100% 100%
    &-8 // 银联扫码
        background $imgUrl('images/icon/icon-pay-8.png')
        background-size 100% 100%
    &-4 // 京东支付
        background $imgUrl('images/icon/icon-pay-4.png')
        background-size 100% 100%
    &-3 // QQ钱包
        background $imgUrl('images/icon/icon-pay-3.png')
        background-size 100% 100%
    &-2 // 支付宝支付
        background $imgUrl('images/icon/icon-pay-2.png')
        background-size 100% 100%
    &-1 // 微信支付
        background $imgUrl('images/icon/icon-pay-1.png')
        background-size 100% 100%


/**
 * 自订icon
 */

/* 顶部使用者资讯（登入后） */
.q-icon
    &.icon-avatar
    &.icon-money
        font-size 21px
    .login-bar-loged &
        color $tertiary


/* 全部彩种 */
.icon-lottery
    font-size 26px
/* 大厅跑马灯 */
.icon-louder
    font-size 24px
/* 大厅富豪榜 */
.icon-badge
    font-size 24px

/* 投注 */
.icon-bet
    font-size 16px

/* check icon */
.icon-check
    font-size 18px

/* 关闭 */
.icon-close
    font-size 21px
/* footer icon */
.icon-footer
    display inline-block
    width 64px
    height 64px
    background-size 100%
    background-position center center
    background-repeat no-repeat
    /* 银联支付 */
    &-unionpay
        background-image $imgUrl('images/footer/unionpay.png')
    /* 微信支付 */
    &-wechatpay
        background-image $imgUrl('images/footer/wechatpay.png')
    /* 支付宝 */
    &-alipay
        background-image $imgUrl('images/footer/alipay.png')
    /* android */
    &-android
        background-image $imgUrl('images/footer/android.png')
    /* ios */
    &-ios
        background-image $imgUrl('images/footer/ios.png')
    /* agent */
    &-agent
        background-image $imgUrl('images/footer/agent.png')
    /* agent-money */
    &-agent-money
        background-image $imgUrl('images/footer/agent-money.png')
    /* agent-reg */
    &-agent-reg
        background-image $imgUrl('images/footer/agent-reg.png')
    /* skype */
    &-skype
        background-image $imgUrl('images/footer/skype.png')
    /* QQ */
    &-qq
        background-image $imgUrl('images/footer/qq.png')
    /* mail */
    &-mail
        background-image $imgUrl('images/footer/mail.png')
    /* service */
    &-service
        background-image $imgUrl('images/footer/service.png')

/* 註冊頁面 */
.page-header .icon-page-reg
    font-size 50px
    color $tertiary

/* 众筹彩 */
.icon-plus
    font-size 16px

/* 银行卡绑定 */
.icon-bind-card
    font-size 15px