/**
 * 覆蓋quasar預設變數（顏色為主）
 * 注意：勿更改或刪除變數名稱，僅更改值
 * https://quasar-framework.org/components/stylus-variables.html
 */
$primary   = #FCBB38
$secondary   = #FCBB38

/**
 * 自訂default版顏色
 */
$toolbar1 = #EAA33A
$toolbar2 = #FFC040

/* 导航渐层色 */
$color1 = #FF8C3D
$color2 = #FF8C3D
$color3 = #FF782B
$color4 = #FF782B

$primary-bright = #F8D44B
$primary-middle = #FFCC24
$primary-strong = #FFA706
$primary-pale = rgba($primary, 0.1)

$money = #FF9146
$notice = #CC0109

/**
 * 共用圖片路徑
 */
$styleFolder = $path + 'statics/default/default008/'
$styleUrl(v)
    url($styleFolder + (v))