/**
 * 覆蓋quasar預設變數（顏色為主）
 * 注意：勿更改或刪除變數名稱，僅更改值
 * https://quasar-framework.org/components/stylus-variables.html
 */
$primary   = #34A7E3
$secondary   = #34A7E3

/**
 * 自訂default版顏色
 */
$toolbar1 = #34A7E3
$toolbar2 = #62CDE6

/* 导航渐层色 */
$color1 = #66C7F9
$color2 = #66C7F9
$color3 = #34A7E3
$color4 = #34A7E3

$primary-bright = #56CEEA
$primary-middle = #3BC5E5
$primary-strong = #0CB0D6
$primary-pale = rgba($primary, 0.1)

$money = #2BA0DD
$notice = #CC0109

/**
 * 共用圖片路徑
 */
$styleFolder = $path + 'statics/default/default006/'
$styleUrl(v)
    url($styleFolder + (v))