/**
 * 覆蓋quasar預設變數（顏色為主）
 * 注意：勿更改或刪除變數名稱，僅更改值
 * https://quasar-framework.org/components/stylus-variables.html
 */
$primary   = #78C69D
$secondary = #629B7D

/**
 * 共用圖片路徑
 */
$styleFolder = $path + 'statics/king/king017/'
$styleUrl(v)
    url($styleFolder + (v))