/**
 * 底部导航列
 */
.footer-nav
    &__list
        padding 10px
        position relative
        &:after
            content ''
            position absolute
            top 50%
            right 0
            width 1px
            height 40px
            margin-top -20px
        &:last-child:after
            display none

/* 底部连结 */
// .footer-link
//     margin-top 10px
//     .layout-btn-group
//         .q-btn
//             &:after
//                 content ''
//                 position absolute
//                 top 6px
//                 right 0
//                 width 1px
//                 height 16px
//                 background-color $tertiary
//         &:last-child
//             .q-btn:after
//                 display none
// .footer-copyright
//     color $gray-medium
//     font-size $text-xsm
