/* 因应上线暂放 */
$mask = rgba(#000, 0.7) //跑马灯背景
$gray-white = #F9F9F9 //footer-bg
$gray-white-1 = #F7F7F7 //accr-bg 左侧选单背景整合F6F6F6
$gray-white-2 = #F3F3F3 //line 整合F2F2F2
$gray-light = #EDEDED // 手風琴表頭 表格線ECECEC tab列背景EFEFEF 按鈕邊框
$gray-light-1 = #E9E9E9 // 左侧选单选中
$gray-light-2 = #E5E5E5 // 左侧选单分隔线
$gray-light-3 = #BCBCBC //重置按鈕
$gray-medium = #9B9B9B // 次要字

/**
 * 共用圖片路徑
 */
$imgFolder = $path + 'statics/style/'
$imgUrl(v)
    url($imgFolder + (v))