/**
 * 覆蓋quasar預設變數（顏色為主）
 * 注意：勿更改或刪除變數名稱，僅更改值
 * https://quasar-framework.org/components/stylus-variables.html
 */
$primary   = #6d96bb
$secondary = #012169

/**
 * 自訂king版顏色
 */
$toolbar1 = #6D96BB
$toolbar2 = #6D96BB

// $primary-vivid = #00C5FF
$primary-vivid-1 = rgba(#4B7EAC,0.2) // 表头
$primary-bright = rgba(#4B7EAC,0.46) // top充值按钮背景色
$primary-strong = rgba(#4B7EAC,0.77) // top提款按钮背景色
$primary-deep = #3D77AC // top在线客服按钮背景色
$primary-pale = #E4ECF4
$primary-dark = #2F4855

/**
 * 共用圖片路徑
 */
$styleFolder = $path + 'statics/king/king903/'
$styleUrl(v)
    url($styleFolder + (v))