/**
 * 此風格所有用到的樣式在此檔案import
 * 底層app.styl變換皮膚時指向此檔
 */


/**
 * 載入共用檔案
 */
/* 变数 */
@import '../../../css/var'
@import '../../css/var'
@import './var'

/* 全局共用 */
@import '../../../css/ui'
@import '../../../css/reset'
@import '../../../css/form'
@import '../../../css/table'
@import '../../../css/header-1'
@import '../../../css/footer'
@import '../../../css/layout'
@import '../../../css/common'
@import '../../../css/bead'
@import '../../../css/lottery'
@import '../../../css/lottery-mmc'
@import '../../../css/crowdfunding'
@import '../../../css/lobby'
@import '../../../css/pages'
@import '../../../css/flip-clock'

/* 母版共用 */
@import './statics/king/fonts/style.css'
@import '../../css/reset'
@import '../../css/form'
@import '../../css/icon'
@import '../../css/btn'
@import '../../css/modal'
@import '../../css/basic'
@import '../../css/lobby'
@import '../../css/pages'

/* 此版特殊使用 */
@import 'modal'
@import 'basic'
@import 'bead'
@import 'lottery'
