/**
 * ui
 * 此檔案只用在layout/ui.vue，不適用在排版
 */

.ui
    .q-list
        margin-bottom 20px
        padding 8px
    .q-list-header
        background-color rgba(#000,0.1)
        padding 3px 5px
    /**
     * 顏色
     */

    .ui-color
        .q-item
            margin 5px 0
    .ui-color-block
        display inline-block
        width 30px
        height 20px
        margin-right 5px

    /**
     * 文字
     */
    .text-xlg
        font-size $text-xlg
    .text-lg
        font-size $text-lg
    .text-md
        font-size $text-md
    .text-sm
        font-size $text-sm
    .text-xsm
        font-size $text-xsm

    /**
     * ui 自訂義色票
     */

    /**
     * 双面长龙
     */
    .bg-dslong-1
        background-color $dslong-1
    .bg-dslong-2
        background-color $dslong-2
    .bg-dslong-3
        background-color $dslong-3
    .bg-dslong-4
        background-color $dslong-4
    .bg-dslong-5
        background-color $dslong-5
    
    /**
     * 号球
     */
    .ui-bead
        .col-6
            padding 5px
        .q-item
            display block
            span
                margin 3px
    .bg-bead-round
        background-color $bead-round
    .bg-bead-round-active
        background-color $bead-round-active
    .bg-bead-round-pastview
        background-color $bead-round-pastview
    .bg-bead-red
        background-color $bead-red
    .bg-bead-blue
        background-color $bead-blue
    .bg-bead-green
        background-color $bead-green
    .bg-bead-gray
        background-color $bead-gray
    
    /**
     * 路珠
     */
    .bg-road-big
        background-color $road-big
    .bg-road-small
        background-color $road-small
    .bg-road-mid
        background-color $road-mid

    /**
     * 按鈕
     */


    .q-item
        padding 5px 0

    /**
     * 右側panel
     */
    .site-panel
        width 275px
        margin-top 1rem

    /**
     * icon list
     */
    .ui-icon
        .q-item
            display block
        .q-icon
            display block
            font-size 32px