/**
 * 覆蓋quasar預設變數（顏色為主）
 * 注意：勿更改或刪除變數名稱，僅更改值
 * https://quasar-framework.org/components/stylus-variables.html
 */
$primary   = #C041CE
$secondary   = #C041CE

/**
 * 自訂default版顏色
 */
$toolbar1 = #B12DD4
$toolbar2 = #D272E2

/* 导航渐层色 */
$color1 = #D272E2
$color2 = #D272E2
$color3 = #c041ce
$color4 = #B12DD4

$primary-bright = #B22EB9
$primary-middle = #950C9D
$primary-strong = #690083
$primary-pale = rgba($primary, 0.1)

$money = #D15DD8
$notice = #FFB430

/**
 * 共用圖片路徑
 */
$styleFolder = $path + 'statics/default/default003/'
$styleUrl(v)
    url($styleFolder + (v))