/**
 * 目標是在這裡放color、圖片等會變化的東西
 */

/**
 * style/basic.styl
 */

/**
 * 共用独立样式
 */
/* 钱钱钱！ */
.user-purse
    .user-purse-amt
        color $primary

/**
 * tabs
 */
.tabs
    .q-tabs-head
        .q-tab
            &.active
                background-color $primary-bright
    .q-tabs-panes
        background-color $white
        border-color #E5E5E5
/* 个人中心用的tab */
.account-passward-manage
.deposit
.account-manage
    .tabs
        background-color transparent
        .q-tabs-head
            background-color transparent
            .q-tab
                &.active
                    background-color transparent
                    color $secondary !important
                    border-bottom-color $white

/* panel */
.panel
    &__header
        background-color $primary-bright
        color $white
    &__table
        border-color #E5E5E5
.panel-table
    thead
        tr
            background-color $white
            th
                color #9EA0A5
    tbody
        tr
            border-top-color #E5E5E5
            &:nth-child(odd)
                background-color #F5F5F5
            .icon-ranking
                background-color $primary-bright
                color $white
            &:nth-child(1)
            &:nth-child(2)
            &:nth-child(3)
                color $negative
                .icon-ranking
                    background-color $negative

/**
 * 首頁、投注页sidebar
 */
.site-panel
    &__header
        background-color $primary
        color $white
    &__body
        border 1px solid #E5E5E5
    &__tag-item
        background-color white
        color #4A4A4A
        height auto
        line-height unset
        padding 5px 10px
        &:first-child
            text-align left
    &__record-amount
        color #FF5617

/**
 * TABLE组件
 */
/* table（表格不含标题列）*/
.table
    &.winner-list
        border-color #E5E5E5
        thead
            th
                background-color $white
                color #9EA0A5
        tbody
            .icon-ranking
                background-color $primary
                color $white
            tr
                border-color #E5E5E5
                &:nth-child(1)
                &:nth-child(2)
                &:nth-child(3)
                    color #C02728
                    .icon-ranking
                        background-color #c02728
                &:nth-child(odd)
                    background-color #F5F5F5
                &:nth-child(even)
                    background-color $white
    &.last-award //往期開獎
        border 1px solid #ebebeb
        thead
            th
                background-color $white
                color #4A4A4A
        tbody
            tr
                border-top 1px solid #ebebeb
                &:nth-child(odd)
                    background-color #f5f5f5
                &:nth-child(even)
                    background-color $white
            td:first-child
                border-right 1px solid #ebebeb
            .pastview-win-number
                color #D0021B

/**
 * style/btn.styl
 */

/**
 * button
 */
/* 通用型 */
.btn-primary
.btn-logout
    color $white
    background-color $primary
.btn-demoplay
.btn-reg
    color #5E5F62
    padding 0px 5px
    .q-btn-inner
        border-bottom 1px solid #5E5F62
/**
 * 特殊型：特殊型独立使用，不适合再加其他效果
 */
/* 大厅号码走势 */
.btn-go-bet
    background $styleUrl('images/btn-go-bet.png')
    background-size 100% 100%
    color transparent
/* 大厅立即投注 */
.btn-trend
    background $styleUrl('images/btn-trend.png')
    background-size 100% 100%
    color transparent
/* 用在表格标题 */
.btn-table-filter
    &.active
        border 1px solid $primary

/**
 * style/footer.styl
 */

/**
 * 底部导航列
 */
.footer-nav
    background-color #EAEAEA
    &__list
        &:after
            background #CECECE
    &__title
        small
            color #A5A3A3


/**
 * style/form.styl
 */

/**
 * login bar field
 */
.field-bar
    .q-field-content
        .q-input
            border-color #C8C8C8
            background-color $white

/**
 * style/header.styl
 */
/**
 * 此版隐藏物 & 巫术
 */
/* 顶部我的帐户, 顶部个人资料、余额, 顶部登入按钮 */
.default-toolbar
    .q-btn
        color $tertiary
/**
 * 顶部左侧按钮
 */
.top-btns-help
    .layout-btn-group
        &:after
            background-color $tertiary
            .lottery-toolbar &
                background-color $white
        &:last-child:after
            display none
/**
 * 顶部右侧按钮
 */
.top-btns-account
    .layout-btn-group
        &:nth-child(1)
        &:nth-child(2)
            .q-btn
                background-color $white
        &:nth-child(3)
            .q-btn
                background-color $primary
                color $white
/**
 * 登入列
 */
.login-bar-loged
    .user-name
        .q-btn
            color $primary

/**
 * nav
 */
.navbar
    background-color $primary
    color $white
.btn-nav-group
    .q-btn
        &.active
            background-color $primary-bright
        .q-chip
            background-color #FD9502
            color $white
            &:after
                border-color #FD9502 transparent transparent
.all-game-title
    background-color $primary-bright


/**
 * style/lobby.styl
 */
/**
 * 大厅全部彩種
 */
.lobby-hot-game
    background-color $white
    border-color #E5E5E5
    &__item
        border-bottom-color #DADBDD
    &__name
        .q-chip
            background-color $secondary
            color $white
            &:after
                border-color $secondary transparent transparent
    &__periods
        color $secondary
        position absolute
        right 1rem

/**
 * 大厅轮播和跑马灯
 */

.lobby-marquee
    border-color #E5E5E5
    background-color $white
    &__label
        color $primary

/**
 * 推荐彩种(有倒计时)
 */
.lobby-recommend
    &__bottom
        border-top-color #E5E5E5

    /* flip-clock */
    // .card
    //     .card__top
    //     .card__bottom
    //     .card__back::before
    //     .card__back::after
    //         background #333
    //         color #ccc

/**
 * 往期开奖
 */
.lobby-pastview
    .lottery-item-group
        border-bottom-color #E5E5E5

/* 单行tabs */
.tabs-panel
    background-color $primary
    &__title
        background-color $primary-bright
        color $white
    .q-btn
        color $white
    &__content
        background-color $white
        border-color #E5E5E5

/**
 * 推荐彩种(三个一组)
 */
.lobby-promo
    .lottery-item-group
        border-right-color #E5E5E5


/**
 * style/lottery.styl
 */

/**
 * page withdrawals-bind
 * 个人中心-充值
 */
.withdrawals-bind
    .account-manage-header
        border 1px solid #F8E3B9
        background #FFFDEB
        color #F57104